{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form class="main-form article-form" action="" method="post" enctype="multipart/form-data">
            <h2 class="text-center">{{ title }}</h2>

            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            {% if not is_alert_hidden %}
                <div class="alert {{ alert_class }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            {% endif %}

            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}
            </p>

            <p>
                {{ form.coords_of_place.label }}<br>
                {{ form.coords_of_place(class="form-control", placeholder="12.345678, 12.345678") }}
            </p>

            <div class="custom-file">

                <input type="file" id="thumbnail-img" class="custom-file-input" accept=".png, .jpg, .jpeg"
                       data-multiple-caption="{count} файла(ов) выбрано" name='thumbnail-img'/>

                <label for="thumbnail-img" class="custom-file-label" data-browse="Обзор...">
                    <span>{{ title_image_name }}</span>
                </label>

            </div>

            {{ form.text.label }}<br>
            <div class="editor">

                <div class="kb-buttons">
                    <button type="button" class="btn" title="Вставка тега для ряда изображений"
                            onClick=Insert_text(document.getElementById('text'),'[Ряд_изображений][/Ряд_изображений]')>
                        <i class="fa fa-folder" aria-hidden="true"></i></button>
                    <button type="button" class="btn" title="Вставка тега для рядовых элементов"
                            onClick=Insert_text(document.getElementById('text'),'[Рядовый_элемент]')><i
                            class="fa fa-images"></i></button>
                    <button type="button" class="btn" title="Вставка тега для изображения"
                            onClick=Insert_text(document.getElementById('text'),'[Ваше_изображение]')><i
                            class="fa fa-image"></i></button>
                </div>

                {{ form.text(class="form-control", rows="3", placeholder="Минимум {0} слов".format(min_length_of_text)) }}

            </div>
            <br>

            <div class="custom-file" style="margin-top: -0.5rem;">

                <input type="file" id="article-images" class="custom-file-input" accept=".png, .jpg, .jpeg"
                       data-multiple-caption="{count} файла(ов) выбрано" name='article-images' multiple/>

                <label for="article-images" class="custom-file-label" data-browse="Обзор...">
                    <span>{{ article_images }}</span>
                </label>

            </div>
            <br>

            {{ form.category.label }}
            {{ form.category(class="form-control") }}

            <br>

            <p class="text-right">
                <a href="/" class="btn btn-danger btn-cancel">Отменить</a>
                {{ form.submit(type="submit", class="btn btn-primary btn-publish", value=submit_button_text) }}
            </p>

        </form>

        <script src="/static/js/insert_text.js"></script>
        <script src="/static/js/upload_image.js"></script>

    </div>

{% endblock %}