{% extends "base.html" %}
{% block content %}

    <div class="container">
        <form class="main-form login-form blue-link" action="" method="post">
            <h2 class="text-center">{{ title }}</h2>

            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            {% if not is_alert_hidden %}
                <div class="alert {{ alert_class }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            {% endif %}

            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email", placeholder="email@example.com") }}<br>

                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}
            </p>

            <p class="custom-control custom-checkbox">
                {{ form.remember_me(class="custom-control-input") }}
                {{ form.remember_me.label(class="custom-control-label") }}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-primary btn-block") }}</p>

            <p class="text-center">
                Впервые на сайте? <a class="text-center" href="/register">Зарегистрироваться</a>
            </p>

        </form>
    </div>
{% endblock %}