{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form class="main-form register-form blue-link" action="" method="post">
            <h2 class="text-center">Регистрация</h2>

            {% if not is_alert_hidden %}
                <div class="alert {{ alert_class }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            {% endif %}

            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <p>

                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>


                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>


                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>


                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>

            </p>

            {{ form.recaptcha() }}<br>

            <p>{{ form.submit(type="submit", class="btn btn-primary btn-block") }}</p>

            <p class="text-center">Есть аккаунт? <a href="/login">Войти</a></p>

        </form>
    </div>
{% endblock %}