{% extends "base.html" %}
{% block content %}

    <div class="error-box">

        <!-- 500 error image -->
        <svg xmlns="http://www.w3.org/2000/svg" height="500px"
             viewBox="0 0 64 64" width="500px" class="">
            <g>
                <g id="Layer_13" data-name="Layer 13">
                    <path d="m48 1h-32a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1v2h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1v2h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h5a1 1 0 0 0 .71-.29l1.7-1.71h2.35l1.79.89a1 1 0 0 0 1.16-.18l2.7-2.71h4.18l2.7 2.71a1 1 0 0 0 1 .24l2.53-.85 2.6 1.73a1 1 0 0 0 .58.17h3a1 1 0 0 0 1-1v-8a1 1 0 0 0 -1-1h-1v-2h1a1 1 0 0 0 1-1v-8a1 1 0 0 0 -1-1h-1v-2h1a1 1 0 0 0 1-1v-8a1 1 0 0 0 -1-1zm-1 32h-1.7l-2.75-1.83a1 1 0 0 0 -.87-.12l-2.41.81-2.56-2.57a1 1 0 0 0 -.71-.29h-5a1 1 0 0 0 -.71.29l-2.49 2.49-1.35-.67a1 1 0 0 0 -.45-.11h-3a1 1 0 0 0 -.71.29l-1.7 1.71h-3.59v-6h30zm-2-8h-26v-2h26zm2-4h-30v-6h30zm-2-8h-26v-2h26zm2-4h-30v-6h30z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m43 5h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m39 5h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m35 5h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m19 5h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m43 17h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m39 17h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m35 17h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m19 17h2v2h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m24 41v-2a3 3 0 0 0 -6 0v2a3 3 0 0 0 6 0zm-2 0a1 1 0 0 1 -2 0v-2a1 1 0 0 1 2 0z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m36 48a3 3 0 0 0 -6 0v2a3 3 0 0 0 6 0zm-2 2a1 1 0 0 1 -2 0v-2a1 1 0 0 1 2 0z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m39 53a3 3 0 0 0 -3 3v2a3 3 0 0 0 6 0v-2a3 3 0 0 0 -3-3zm1 5a1 1 0 0 1 -2 0v-2a1 1 0 0 1 2 0z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m43 40v-2a3 3 0 0 0 -6 0v2a3 3 0 0 0 6 0zm-4 0v-2a1 1 0 0 1 2 0v2a1 1 0 0 1 -2 0z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m31.38 34.08a1 1 0 0 0 -1.09.21l-2 2 1.42 1.42.29-.3v2.59h-1v2h4v-2h-1v-5a1 1 0 0 0 -.62-.92z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m44 45a1 1 0 0 0 -.62-.92 1 1 0 0 0 -1.09.21l-2 2 1.42 1.42.29-.3v2.59h-1v2h4v-2h-1z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m30 56a1 1 0 0 0 -.62-.92 1 1 0 0 0 -1.09.21l-2 2 1.42 1.42.29-.3v2.59h-1v2h4v-2h-1z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m25 46a1 1 0 0 0 -.62-.92 1 1 0 0 0 -1.09.21l-2 2 1.42 1.42.29-.3v2.59h-1v2h4v-2h-1z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m12 48h-2v-8a1 1 0 0 0 -1-1h-4a1 1 0 0 0 -1 1v8h-2a1 1 0 0 0 -.92.62 1 1 0 0 0 .21 1.09l5 5a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-1.09 1 1 0 0 0 -.92-.62zm-5 4.59-2.59-2.59h.59a1 1 0 0 0 1-1v-8h2v8a1 1 0 0 0 1 1h.59z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m62.92 36.62a1 1 0 0 0 -.92-.62h-2v-8a1 1 0 0 0 -1-1h-4a1 1 0 0 0 -1 1v8h-2a1 1 0 0 0 -.92.62 1 1 0 0 0 .21 1.09l5 5a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-1.09zm-5.92 4-2.59-2.62h.59a1 1 0 0 0 1-1v-8h2v8a1 1 0 0 0 1 1h.59z"
                          data-original="#000000" class="active-path"
                          data-old_color="#000000" fill="#FF8A4F"></path>
                    <path d="m4 29h2v8h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m8 26h2v11h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m58 17h2v8h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                    <path d="m54 14h2v11h-2z" data-original="#000000"
                          class="active-path" data-old_color="#000000"
                          fill="#FF8A4F"></path>
                </g>
            </g>
        </svg>
        <!-- --------------- -->

        <div class="error-font">
            <h1>Ой...</h1>
            <h5>Что-то пошло не так :(</h5>
        </div>
    </div>
{% endblock %}